.customers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.customers-container b {
    color: #fff;
    font-family: 'Syne Bold', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.customers-container .customers-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 10px;
}

.customer-item  img{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    border-radius: 10px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .slider {
    overflow: hidden;
    background: black;
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
  }
  
  .slider:before,
  .slider:after {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .slider:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
  }
  
  .slider:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
  }
  
  .slider-track {
    animation: 10s slide infinite linear;
  }
