.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    max-width: 900px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper img {
    height: 30px;
    width: auto;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0 1rem;
    font-family: 'Syne', sans-serif;
    font-size: 0.9rem;
}

.menu-item.home a {
    padding: 8px 20px;
    background: linear-gradient(90deg, #132659 0%, #0246F8 100.01%);
    border-radius: 20px;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
    text-wrap: nowrap;
}

/* Mobile */

.header-container-mob {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: -webkit-fill-available;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container-mob .left-wrapper, .header-container-mob .right-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container-mob button#toggleMenu {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.header-container-mob button#toggleMenu img {
    height: 15px;
}

.header-container-mob .logo-header-mob {
    height: 30px;
}

.head-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.head-link .nav-icon {
    height: 10px;
    margin-top: -3px;
}

.header-container-mob .social-link {
    height: fit-content;
    margin-top: 3px;
}

.header-container-mob .social-icon {
    height: 30px;
}

.nav-container-mob {
    position: fixed;
    right: 10px;
    margin-top: -500px;
    padding: 5px;
    background: #e6eeff88;
    border-radius: 10px;
    transition: ease-in-out .3s;
    z-index: 40;
}

.nav-container-mob .menu-list-mob {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.nav-container-mob.active {
    margin-top: 85px;
}

.menu-list-mob .nav-link {
    display: flex;
    text-decoration: none;
    gap: 10px;
    font-family: Poppins, sans-serif;
    color: #000000;
    font-size: 13px;
    align-items: center;
}

.menu-list-mob .nav-link .nav-icon {
    height: 18px;
}
