.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    max-width: 900px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper img {
    height: 30px;
    width: auto;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0 1rem;
    font-family: 'Syne', sans-serif;
    font-size: 0.9rem;
}

.menu-item.home a {
    padding: 8px 20px;
    background: linear-gradient(90deg, #132659 0%, #0246F8 100.01%);
    border-radius: 20px;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
    text-wrap: nowrap;
}
